body {
    padding-top: 70px;
}

.repo-list .row {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    padding-bottom: 19px;
    border-bottom: 1px solid #eee;
}

.intro-head {
    color: #F8F8F8;
    margin-top: -20px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #262626;
}

.img-rounded.screen {
    width: 100%;
}

@media (max-width: 768px) {
    .vertical-align-xs {
        display: flex;
        flex-direction: row;
    }

    .vertical-align-xs > [class^="col-"],
    .vertical-align-xs > [class*=" col-"] {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 769px) and (max-width: 991px) {
    .vertical-align-sm {
        display: flex;
        flex-direction: row;
    }

    .vertical-align-sm > [class^="col-"],
    .vertical-align-sm > [class*=" col-"] {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .vertical-align-md {
        display: flex;
        flex-direction: row;
    }

    .vertical-align-md > [class^="col-"],
    .vertical-align-md > [class*=" col-"] {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 1200px) {
    .vertical-align-lg {
        display: flex;
        flex-direction: row;
    }

    .vertical-align-lg > [class^="col-"],
    .vertical-align-lg > [class*=" col-"] {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 992px) {
    .dirs {
        border-right: 1px solid #eeeeee;
    }
}

@media (max-width: 992px) {
    .dirs {
        border-bottom: 1px solid #eeeeee;
    }

    .line-table > div {
        cursor: pointer;
    }
}

.table{
    overflow-y: auto;
    height: 400px !important;
}

.line_header {
    padding-top: 10px;
    padding-bottom: 10px;
}

.table div {
    white-space: nowrap;
}

#loading {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 1);
    z-index: 1000;
}
.div_dirs{
    max-height: 490px !important;
    overflow-y: auto;
}

.div_dirs .dirs{
    display: inline-block;
    white-space: nowrap;
    height: auto;
}
.tree{
    width: auto;
}
.line{
    margin: 0 !important;
}
.title{
    overflow-x: auto;
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.title_line{
    width: auto;
    display: inline-block;
}
.title_line:hover{
    padding: 0 2px;
    background: #333333;
    color: white;
    white-space: pre-line;
}
.title_line_min{
    white-space: nowrap;
}
.title_line_min:hover{
    white-space: normal;
}
.title_head, .title_com_head{
    padding-left: 0!important;
    padding-right: 0!important;
}
.scroll_title, .scroll_com{
   overflow-x: auto;
}
.fake, .fake2{
    height: 1px;
}
.com{
    overflow-x: auto;
}
.com_line{
    width: auto;
    display: inline-block;
}
.com_min{
    white-space: nowrap;
    overflow-x: auto;
}
.collapse div{
    font-size: 12px;
}