body {
    padding-top: 70px;
}

.repo-list .row {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    padding-bottom: 19px;
    border-bottom: 1px solid #eee;
}

.intro-head {
    color: #F8F8F8;
    margin-top: -20px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #262626;
}

.img-rounded.screen {
    width: 100%;
}

@media (max-width: 768px) {
    .vertical-align-xs {
        display: flex;
        flex-direction: row;
    }

    .vertical-align-xs > [class^="col-"],
    .vertical-align-xs > [class*=" col-"] {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 769px) and (max-width: 991px) {
    .vertical-align-sm {
        display: flex;
        flex-direction: row;
    }

    .vertical-align-sm > [class^="col-"],
    .vertical-align-sm > [class*=" col-"] {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .vertical-align-md {
        display: flex;
        flex-direction: row;
    }

    .vertical-align-md > [class^="col-"],
    .vertical-align-md > [class*=" col-"] {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 1200px) {
    .vertical-align-lg {
        display: flex;
        flex-direction: row;
    }

    .vertical-align-lg > [class^="col-"],
    .vertical-align-lg > [class*=" col-"] {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.dirs{
    border: 0 solid #EEE;
    border-right-width: 1px;
}
.display_none{
    display: none;
}