{% extends "main.html" %}
{% load staticfiles %}

{% block content %}
    <div class="container" ng-controller="analysis">
        <div class="row">
            <div class="col-lg-4 col-md-5 col-sm-7 col-xs-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1
                    col-xs-offset-0">
                <div class="row">
                    <div class="col-sm-11 col-lg-11 col-md-11">
                        <h4 class="text-primary">{$ repo_name $}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                        <h4>Ветка :</h4></div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 pull-left">
                        <select
                                class="form-control" ng-change="changeBranch()"
                                ng-model="branch" ng-options="branch.name for branch in branches">
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div id="loading" ng-if="!loading"></div>
        <div class="row">
            <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12 div_dirs">
                <div class="dirs">
                    <div id="tree"></div>
                </div>
            </div>
            <div class="col-md-9 col-lg-9 col-sm-12 col-xs-12">
                <span ng-if="lines == undefined" class="text-center">
                    <h2 ng-if="notSupport">Данный тип файла не поддерживается</h2>
                    <h2 ng-if="!notSupport">Файл не выбран</h2>
                </span>

                <span ng-if="lines != undefined">
                    <p>
                        <strong>{$ path $}</strong>
                    </p>

                    <span ng-if="lines.length == 0" class="text-center">
                        <h2>Пустой файл</h2>
                    </span>

                    <span ng-if="lines.length">
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                            <div class="row line line_header table-th ">
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2"><strong>#</strong></div>
                                <div class="col-lg-5 col-md-5 col-sm-11 col-xs-10"><strong>Строка</strong>
                                </div>
                                <div class="col-lg-2 col-md-2 hidden-sm hidden-xs"><strong>Автор</strong></div>
                                <div class="col-lg-2 col-md-2 hidden-sm hidden-xs"><strong>Время</strong></div>
                                <div class="col-lg-2 col-md-2 hidden-sm hidden-xs "><strong>Коммит</strong>
                                </div>
                            </div>
                            <div class="row line table">
                                <div class="num col-lg-1 col-md-1 col-sm-1 col-xs-2">
                                    <div class="" ng-repeat="line in lines">
                                        {$ line.number $}
                                    </div>
                                </div>
                                <div class="col-lg-5 col-md-5 col-xs-10 col-sm-11 text_file">
                                    <div class="row line" ng-repeat="line in lines">
                                        <div class="row line">
                                            <div class="line_file" data-toggle="collapse"
                                                 data-target="#line_{$ line.number $}">{$ repLine(line.line) $}
                                            </div>
                                        </div>
                                        <div class="row line visible-xs visible-sm">
                                            <div class="col-sm-12 col-xs-12 collapse" id="line_{$ line.number $}">
                                                <div class="col-sm-4 col-xs-4 text-right"><strong>Автор :</strong></div>
                                                <div class="col-sm-8 col-xs-8" title="{$ line.author $}">
                                                    {$ line.author $}
                                                </div>
                                                <div class="col-xs-4 col-sm-4 text-right"><strong>Время:</strong></div>
                                                <div class="col-sm-8 col-xs-8"
                                                     title="{$ line.created_date | date: 'dd/MM/yyyy HH:mm:ss' $}">
                                                    {$ line.age $}
                                                </div>
                                                <div class="col-sm-4 col-xs-4 text-right"><strong>Коммит :</strong>
                                                </div>
                                                <div class="col-sm-8 col-xs-5 commit" title="{$ line.commit $}">
                                                    {$ line.commit_message $}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 visible-lg visible-md">
                                    <div class="row line author" ng-repeat="line in lines" title="{$ line.author $}">
                                        {$ line.author $}
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 visible-lg visible-md">
                                    <div class="row line" ng-repeat="line in lines"
                                         title="{$ line.created_date | date: 'dd/MM/yyyy HH:mm:ss' $}">
                                        {$ line.age $}
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 visible-lg visible-md">
                                    <div class="row line commit" title="{$ line.commit $}" ng-repeat="line in lines">
                                        {$ line.commit_message $}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </span>
                </span>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'bootstrap/bootstrap-treeview.min.js' %}"></script>
    <script src="{% static 'bootstrap/bootstrap-treeview.min.css' %}"></script>
    <script>


        gitpard = angular.module('gitpard');

        gitpard
                .controller('analysis',
                ['$scope', '$API', '$location', '$timeout', '$loading',
                    function ($scope, API, $location, $timeout, $loading) {

                        function getUrl(data) {
                            var url = '';

                            if (data.parentId != undefined) {
                                url = getUrl($('#tree').treeview('getNode', data.parentId));
                            }


                            return url + '/' + data.text;
                        }

                        $scope.repLine = function (line) {
                            return line.replace(/\s/g, '  ');
                        };

                        function getTree() {
                            $scope.lines = undefined;
                            $scope.path = '';
                            $scope.loading = true;

                            API.repoTree({
                                id: $location.search().id,
                                branch: $scope.branch.name
                            }, api.tree);
                        }

                        var api = {
                            branch: function (data) {
                                if (data.error && data.error.code == -666) {
                                    $loading();
                                    $timeout(function () {
                                        API.repoBranches($location.search().id, api.branch, function () {
                                        }, {alert: false, loading: true});
                                    }, 1e3);
                                } else {
                                    $scope.branches = [];
                                    var temp = data.branches,
                                            i;
                                    for (i in temp) {
                                        $scope.branches[(temp[i].branch_name == 'master' ? 'unshift' : 'push')]({name: temp[i].branch_name});
                                    }
                                    $scope.branch = $scope.branches[0];
                                    getTree();
                                }
                            },
                            tree: function (data) {
                                if (data.error && data.error.code == -666) {
                                    $loading();
                                    $timeout(function () {
                                        API.repoTree({
                                            id: $location.search().id,
                                            branch: $scope.branch.name
                                        }, api.tree, function () {
                                        }, {alert: false, loading: true});
                                    }, 1e3);
                                } else {
                                    $scope.notSupport = false;
                                    $scope.repo_name = data.repo_name;
                                    //Документация https://github.com/jonmiles/bootstrap-treeview
                                    $('#tree').treeview({
                                        data: data.project,
                                        showBorder: false,
                                        backColor: "#FCFCFC",
                                        emptyIcon: "glyphicon glyphicon-file",
                                        expandIcon: 'glyphicon glyphicon-folder-close',
                                        collapseIcon: 'glyphicon glyphicon-folder-open',
                                        levels: 0,
                                        onNodeSelected: function (event, data) {
                                            $scope.path = getUrl(data);
                                            API.getFile({
                                                file: getUrl(data),
                                                id: $location.search().id,
                                                branch: $scope.branch.name
                                            }, function (data) {
                                                delete $scope.lines;
                                                if (data.error && data.error.code == -666) {
                                                    $loading();
                                                    $timeout(function () {
                                                        API.repoTree({
                                                            id: $location.search().id,
                                                            branch: $scope.branch.name
                                                        }, api.tree, function () {
                                                        }, {alert: false, loading: true});
                                                    }, 1e3);
                                                } else {
                                                    if (data && data.error) {
                                                        $scope.notSupport = true;
                                                    } else {
                                                        $scope.lines = data.data;
                                                    }
                                                }
                                            });
                                        }
                                    });
                                }
                            }
                        };

                        API.repoBranches($location.search().id, api.branch);

                        $scope.changeBranch = function () {
                            getTree();
                        };
                    }]);
    </script>
{% endblock scripts %}