{% extends "main.html" %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <div id="loading"></div>
        <div ng-controller="repoList">
            <form id="newRepo">
                <div class="row">
                    <div class="col-sm-9 col-md-10 {$ inputNewRepoError ? 'has-error' : '' $}">
                        <input type="text" class="form-control" ng-model="newRepo" placeholder="Репозиторий" required>
                    </div>
                    <br class="visible-xs-block"/>

                    <div class="col-sm-3 col-md-2">
                        <a class="btn btn-primary btn-block" ng-click="openLoginModal()">Загрузить</a>
                    </div>
                </div>
            </form>
            <hr/>
            <div class="repo-list">
                <div class="row" ng-repeat="repo in repos">
                    <div class="col-xs-12 col-sm-6 col-md-7" ng-click="openAnalysis(repo)" style="cursor:pointer;">
                        <b>{$ repo.name $} <small style="color: #777">{$ repo.url $}</small></b>
                    </div>
                    <div class="col-xs-12  col-sm-6 col-md-5">
                        <span class="text-danger" ng-hide="repo.state != -2">Не удалось обновить</span>
                        <span class="text-danger" ng-hide="repo.state != -1">Не удалось загрузить</span>
                        <span class="text-success" ng-hide="repo.state != 0">Не загружен</span>
                        <span class="text-success" ng-hide="repo.state != 1">
                            Загружается
                            <i class="fa fa-refresh fa-spin"></i>
                        </span>
                        <span class="text-success" ng-hide="repo.state != 2">Загружен</span>
                        <span class="text-success" ng-hide="repo.state != 3">
                            Обновляется
                            <i class="fa fa-refresh fa-spin"></i>
                        </span>
                        <span class="text-success" ng-hide="repo.state != 6">
                            Подготовка к удалению
                            <i class="fa fa-refresh fa-spin"></i>
                        </span>
                        <span class="text-success" ng-hide="repo.state != 7">
                            Подготовка к скачиванию
                            <i class="fa fa-refresh fa-spin"></i>
                        </span>

                        <div class="pull-right">
                            <div class="btn-group btn-group-sm">
                                <button class="btn btn-info btn-sm"
                                        ng-disabled="repo.state == 0 || repo.state == 1 || repo.state == 3"
                                        ng-click="openAnalysis(repo)">
                                    Анализ
                                </button>
                                <button class="btn btn-warning btn-sm"
                                        ng-disabled="repo.state == 0 || repo.state == 1 || repo.state == 3"
                                        ng-click="openReports(repo)">
                                    Отчеты
                                </button>
                                <button class="btn btn-success btn-sm" ng-disabled="repo.state == 1 || repo.state == 3"
                                        ng-click="(repo.state == 0?repoClone:repoUpdate)(repo)">
                                    <span ng-hide="repo.state != 0"><i
                                            class="glyphicon glyphicon-download-alt"></i></span>
                                    <span ng-hide="repo.state == 0"><i class="glyphicon glyphicon-repeat"></i></span>
                                </button>
                                <button class="btn btn-primary btn-sm" ng-click="openEditModal(repo)"
                                        ng-disabled="repo.state == 1 || repo.state == 3 || repo.state == 6">
                                    <i class="glyphicon glyphicon-wrench"></i>
                                </button>
                                <button class="btn btn-danger btn-sm" ng-click="repoDelete(repo)"
                                        ng-disabled="repo.state == 1 || repo.state == 3 || repo.state == 6">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-center {$ noPages $}" style="display: none;">
                    <nav>
                        <ul class="pagination">
                            <li class="{$ previousPage.disabled $}">
                                <a href="{$ previousPage.href $}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="{$ nextPage.disabled $}">
                                <a href="{$ nextPage.href $}">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

            <script type="text/ng-template" id="myModalContent.html">
                <div class="modal-header">
                    <h3 class="modal-title">Настройки</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12 col-xs-offset-0 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
                            <form>
                                <div class="form-group {$ inputModalUrlError ? 'has-error' : '' $}">
                                    <label for="inputModalUrl">URL</label>
                                    <input type="text" class="form-control" ng-model="url"
                                           id="inputModalUrl"
                                           placeholder="URL"
                                           ng-disabled="status != 0">
                                </div>
                                <div class="form-group {$ inputModalNameError ? 'has-error' : '' $}">
                                    <label for="inputModalName">Имя репозитория</label>
                                    <input type="text" class="form-control" ng-model="name"
                                           id="inputModalName"
                                           placeholder="Имя репозитория">
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <label>Приватность</label>
                                        </div>
                                        <div class="col-xs-12">
                                            <label>
                                                <input type="radio" ng-model="lock.type" value="0">
                                                Открытый репозиторий
                                            </label>
                                        </div>
                                        <div class="col-xs-12">
                                            <label>
                                                <input type="radio" ng-model="lock.type" value="1">
                                                Закрытый рапозиторий
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div ng-hide="lock.type==0">
                                    <div class="form-group {$ inputModalLoginError ? 'has-error' : '' $}">
                                        <label for="inputModalLogin">Логин</label>
                                        <input type="text" class="form-control" ng-model="login"
                                               id="inputModalLogin"
                                               placeholder="Логин">
                                    </div>
                                    <div class="form-group {$ inputModalPasswordError ? 'has-error' : '' $}">
                                        <label for="inputModalPassword">Пароль</label>
                                        <input type="password" class="form-control" ng-model="password"
                                               id="inputModalPassword" placeholder="Пароль">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
                    <button class="btn btn-warning" type="button" ng-click="cancel()">Отмена</button>
                </div>
            </script>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/repoList/main.js' %}"></script>
{% endblock scripts %}
