{% extends "main.html" %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-lg-offset-1 col-md-offset-1">
                <h3>Отчет по файлам</h3><br>
                <h4>Репозиторий : <span class="text-primary"> Gitpart </span></h4>
                <h4>Ветка : <span class="text-primary"> master </span></h4>
                <h4>Дата : <span class="text-primary"> 11.11.2011 </span></h4>
            </div>
        </div>
        <div class="row report-setting">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 col-lg-offset-1 col-md-offset-1 report-on">
                <span> Включение </span>
                <textarea class="form-control ng-pristine ng-valid ng-touched" readonly></textarea>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 report-off">
                <span> Исключение </span>
                <textarea class="form-control ng-pristine ng-valid ng-touched" readonly></textarea>
            </div>
        </div>

        <div class="row report-table">
            <div class="col-lg-10 col-xs-10 col-sm-10 col-md-10 col-md-offset-1 col-lg-offset-1">
                <div class="row line_header table-th">
                    <div class="col-md-4 col-lg-4 col-xs-4 col-sm-4 text-center report-th"><strong>№</strong></div>
                    <div class="col-md-4 col-lg-4 col-xs-4 col-sm-4 text-center report-th"><strong>Файл</strong></div>
                    <div class="col-md-4 col-lg-4 text-center report-th visible-md visible-lg"><strong>Среднее число дней жизни строки</strong></div>
                    <div class="col-sm-4 text-center report-th  visible-sm"><strong>Кол-во дней</strong></div>
                    <div class="col-xs-4 text-center report-th visible-xs"><strong>Дни</strong></div>
                </div>
                <div class="row report-tr">
                    <div class="col-md-4 col-lg-4 col-xs-4 col-sm-4 text-center report-td">1</div>
                    <div class="col-md-4 col-lg-4 col-xs-4 col-sm-4 text-center report-td">fix</div>
                    <div class="col-md-4 col-lg-4 col-xs-4 col-sm-4 text-center report-td">100</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}