{% extends "main.html" %}

{% block content %}
    <div ng-controller="repoList">
    <form id="newRepo">
        <div class="row">
            <div class="col-sm-9 col-md-10">
                <div class="row">
                    <div class="col-xs-10  col-md-11">
                        <input type="text" class="form-control" ng-model="newRepo" placeholder="Репозиторий">
                    </div>
                    <div class="col-xs-2 col-md-1 text-center">
                        <i class="fa fa-fw fa-2x fa-{$ lock?'':'un' $}lock" ng-click="lock=!lock"></i>
                    </div>
                </div>
            </div>
            <br class="visible-xs-block"/>

            <div class="col-sm-3 col-md-2">
                <a class="btn btn-primary btn-block" ng-click="addRepo()">Загрузить</a>
            </div>
        </div>
    </form>
    <hr/>
    <div class="repo-list">
        <div class="row" ng-repeat="repo in repos">
            <div class="col-xs-12 col-sm-6 col-md-7">{$ repo.name $}</div>
            <div class="col-xs-6  col-sm-3 col-md-3 text-{$ repo.state < 0 ? 'danger' : 'success' $}">
                {$ repo.status $}
            </div>
            <div class="col-xs-6  col-sm-3 col-md-2">
                <div class="btn-group btn-group-xs" uib-dropdown>
                    <a ng-click="callButton(repo)" class="btn btn-{$ repo.state < 0 ? 'danger' : 'success' $} btn-xs">
                        {$ repo.button $}
                    </a>
                    <button type="button" class="btn btn-{$ repo.state < 0 ? 'danger' : 'success' $}"
                            uib-dropdown-toggle>
                        <span class="caret"></span>
                        <span class="sr-only">Split button!</span>
                    </button>
                    <ul class="uib-dropdown-menu" role="menu" aria-labelledby="split-button">
                        <li role="menuitem"><a href="#">Редактировать</a></li>
                        <li role="menuitem"><a href="#">Удалить</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Авторизация</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-12 col-xs-offset-0 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
                    <form>
                        <div class="form-group">
                            <label for="inputModalLogin">Login</label>
                            <input type="text" class="form-control" ng-model="inputModalLogin" id="inputModalLogin"
                                   placeholder="Login">
                        </div>
                        <div class="form-group">
                            <label for="inputModalPassword">Password</label>
                            <input type="password" class="form-control" ng-model="inputModalPassword"
                                   id="inputModalPassword" placeholder="Password">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <div style="position: absolute; bottom: 0px; left: 15px; width: 100%" class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <uib-alert ng-repeat="alert in alerts" type="{$ alert.type $}" close="closeAlert($index)">
                {$ alert.msg $}
            </uib-alert>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        var _cookies;
        function _initCookies() {
            _cookies = {};
            var ca = document.cookie.split(';');
            var re = /^[\s]*([^\s]+?)$/i;
            for (var i = 0, l = ca.length; i < l; i++) {
                var c = ca[i].split('=');
                if (c.length == 2) {
                    _cookies[c[0].match(re)[1]] = unescape(c[1].match(re) ? c[1].match(re)[1] : '');
                }
            }
        }
        function getCookie(name) {
            _initCookies();
            return _cookies[name];
        }
        function getCookie(name) {
            _initCookies();
            return _cookies[name];
        }
        //https://finagin@bitbucket.org/poachers/gitpard_old.git
        angular
                .module('gitpard', ['ui.bootstrap'])
                .config(function ($interpolateProvider) {
                    $interpolateProvider
                            .startSymbol('{$')
                            .endSymbol('$}');
                })
                .config(['$httpProvider', function (provider) {
                    var csrfToken = getCookie('csrftoken');
                    provider.defaults.headers.common['X-CSRFToken'] = csrfToken;
                    provider.defaults.headers.post['X-CSRFToken'] = csrfToken;

                    provider.defaults.headers.post["Content-Type"] = 'application/json';

                    provider.defaults.xsrfCookieName = 'csrftoken';
                    provider.defaults.xsrfHeaderName = 'X-CSRFToken';
                }])
                .controller('repoList', ['$scope', '$http', '$uibModal', function ($scope, $http, $modal) {
                    function refresh() {
                        $http({
                            method: 'GET',
                            url: '/api/repositories'
                        }).then(function successCallback(response) {
                            if (response && response.data) {
                                var status = [
                                            'Не загружен',
                                            'Загружается',
                                            'Загружен',
                                            'Обновляется'
                                        ],
                                        temp,
                                        buttons = [
                                            'Загрузить',
                                            false,
                                            'Обновить',
                                            false
                                        ];

                                status[-1] = 'Не удалось загрузить';
                                status[-2] = 'Не удалось обновить';
                                buttons[-1] = 'Загрузить';
                                buttons[-2] = 'Обновить';

                                temp = response.data.results;

                                for (item in temp) {
                                    x = temp[item].state;
                                    temp[item].status = status[x];
                                    temp[item].button = buttons[x];
                                }

                                $scope.repos = temp;
                            }
                        });
                    }

                    refresh();

                    $scope.callButton = function (repo) {
                        var url = [
                            repo.id + '/clone',
                            false,
                            repo.id + '/update',
                            false
                        ];
                        url[-1] = repo.id + '/clone';
                        url[-2] = repo.id + '/update';

                        if (url[repo.state]) {
                            $http({
                                method: 'GET',
                                url: '/api/repositories/' + url[repo.state]
                            }).then(function successCallback(response) {
                                refresh();
                                $scope.addAlert(response.data);
                            });
                        }
                    };

                    /**
                     * ========================================
                     * ==============  Alerts  ================
                     * ========================================
                     */
                    $scope.alerts = [];
                    /**
                     * New Alert
                     *
                     * @param obj.code
                     * @param obj.status
                     */
                    $scope.addAlert = function (obj) {
                        while ($scope.alerts.length > 4) {
                            $scope.alerts.shift()
                        }

                        $scope.alerts.push({
                            type: (obj.code == 1 ? 'success' : null),
                            'dismiss-on-timeout': 5e3,
                            msg: obj.status
                        });
                    };
                    /**
                     * Close alert
                     *
                     * @param index
                     */
                    $scope.closeAlert = function (index) {
                        $scope.alerts.splice(index, 1);
                    };


                    /**
                     * ========================================
                     * =============  New repo  ===============
                     * ========================================
                     */
                    $scope.addRepo = function () {
                        console.log($scope.lock, $scope.newRepo);
                        if ($scope.newRepo) {
                            if ($scope.lock) {
                                $scope.openLoginModal();
                            } else {
                                $http.post(
                                        '/api/repositories/',
                                        {
                                            url: $scope.newRepo,
                                            name: $scope.newRepo,
                                            kind: +!!$scope.lock
                                        })
                                        .success(function successCallback(response) {
                                            console.log(response);
                                            refresh();
                                        });
                            }
                        }
                    };

                    $scope.openLoginModal = function () {
                        var modalInstance = $modal.open({
                            animation: true
                            , templateUrl: 'myModalContent.html'
                            , controller: 'ModalInstanceCtrl'
                            , size: 'md'
                            , resolve: {
                                url: function () {
                                    return $scope.newRepo;
                                }
                            }
                        });

                        modalInstance.result.then(function (selectedItem) {
                            if (selectedItem) {
                                refresh();
                            }
                        }, function () {
                            console.log('Modal dismissed at: ' + new Date());
                        });
                    };
                }])
                .controller('ModalInstanceCtrl', ['$scope', '$modalInstance', 'url', '$http', function ($scope, $modalInstance, url, $http) {
                    $scope.ok = function () {
                        $http.post(
                                '/api/repositories/',
                                {
                                    url: url,
                                    name: url,
                                    login: $scope.inputModalLogin,
                                    password: $scope.inputModalPassword,
                                    kind: 1
                                })
                                .success(function successCallback(response) {
                                    console.log(response);
                                    $modalInstance.close(true);
                                });
                    };
                    $scope.cancel = function () {
                        $modalInstance.dismiss('cancel');
                    };
                }]);
    </script>
{% endblock scripts %}